.linkCustom__vote {
  margin-left: 10px;

  cursor: pointer;

  border: 1px solid darkorange;
  border-radius: 5px;
  background-color: transparent;
}

.linkCustom__vote:hover {
  color: white;
  background-color: coral;
}

.linkCustom__info {
  display: flex;

  align-items: center;
}

.linkCustom__description,
.linkCustom__url {
  text-decoration: none;

  color: #212121;
}

.linkCustom__url {
  font-size: 12px;

  margin-left: 10px;

  color: rgba(33, 33, 33, 0.6);
}

.linkCustom__url:hover {
  text-decoration: underline;
}
