@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body {
  font-family: "PT Sans", Arial, sans-serif;

  margin: 0;
  padding: 0;

  color: #212121;
}

a {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

.btn {
  font-size: 14px;
  font-weight: 700;

  padding: 8px 12px;

  cursor: pointer;
  transition: 0.5s background-color;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
