.navbar {
  display: flex;

  padding-right: 20px;
  padding-left: 20px;

  border-bottom: 1px solid rgba(0,0,0,0.1);

  justify-content: flex-end;
}

.navbar__link-wrapper {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
}

.navbar__link {
  font-size: 17px;

  text-decoration: none;

  color: rgba(0,0,0,0.54);
}

.navbar__link:first-of-type {
  margin-left: 0;
}

.navbar__link--active {
  color: rgba(255, 100, 100, 1);
}
